<%include ./partials/header%>

<div class="content_box">
	<div class="left_bar">
	    <ul class=" nav-tabs--vertical nav" role="navigation">
		<li class="nav-item">
			<a href="#lorem" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem">Lorem</a>
		</li>
	</ul>
	</div>
    <div class="right_bar ">
        	<div class="tab-content ">
		<div class="tab-pane fade show active" id="lorem" role="tabpanel">
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Teacher</th>
        <th>Present</th>
        <th>Total</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>
	    </div>
	</div>
    </div>
</div>
